Options -Indexes
RewriteEngine On
DirectoryIndex index.html

# Jeśli istnieje fizyczny plik, serwuj go
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Jeśli nie ma slasha na końcu i to nie jest plik, dodaj slash (SEO i struktura)
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule ^(.*)$ /$1/ [R=301,L]

# Jeśli pod daną ścieżką istnieje index.html, serwuj go
RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.*)/?$ $1/index.html [L]

ErrorDocument 404 /404.html

SetEnv GH_TOKEN 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
SetEnv DEPLOY_SECRET f7Kx2mQpL9nRvT4wYhDjAcE6bZsN3uGo